@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  display: block;
  max-height: 100%;
  object-fit: contain; 
}
.clear{
  background: rgba( 255, 255, 255, 0.05 );
  /* box-shadow: 0 8px 32px 0 rgba(44, 55, 211, 0.37); */
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
body{
  background-color:#0B192E ;
  position: relative;
}
*,*::after,*::before{
  /* outline: red 1px solid; */
}
@media (min-width:1024px){
  .threeD{
    text-shadow: 1px 1px 1px #5DF0CE,
    1px 2px 1px #5DF0CE,
    1px 3px 1px #5DF0CE,
    1px 4px 1px #5DF0CE,
    1px 5px 1px #5DF0CE,
    1px 6px 1px #5DF0CE;
    /* 1px 7px 1px #5DF0CE,
    1px 8px 1px #5DF0CE,
    1px 9px 1px #5DF0CE,
    1px 10px 1px #5DF0CE,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4); */
  }
}

.border{
  border: solid 5px red;
}
.hasIcon:hover,.hasIcon:focus > .isIcon{
  color: #5DF0CE;
}

.loader{
  position: relative;
  transform: skewY(-15deg) translateX(50px) translateY(50px);
}
.loader::before{
  content: '';
  position: absolute;
  top: 100px;
  width: 300px;
  height: 200px;
  background: rgba(0, 0, 0,.1);
  transform: skewX(45deg);
  filter: blur(10px);
  transform-origin: bottom;
}
.loader > span{
  position: relative;
  width: 200px;
  height: 40px;
  background: #3e3f46;
  display: block;
  transition: .5s;
  z-index: var(--i);
  animation: animate 5s ease-in-out infinite;
}
@keyframes animate {
  0%,100%{
      transform: translateX(-50px);
  }
  50%{
      transform: translateX(50px);
  }
}
.loader >span:hover{
  background: #5DF0CE;
  transition: 0s;
}
.loader > span::before{
  content: '';
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: #2e3133 ;
  transform-origin: right;
  transform: skewY(45deg);
  transition:.5s;
}
.loader > span:hover::before{
  background: #5DF0CE;
  transition: 0s;
}
.loader > span::after{
  content: '';
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 150px;
  background: #2e3133;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: .5s;
}
.loader > span:hover::after{
  background: #5DF0CE;
  transition: 0s  ;
}